name: Publish Ankama Launcher to AUR

on:
  workflow_call:
    inputs:
      commit_message:
        description: "Commit message for the AUR repository"
        required: true
        type: string
  workflow_dispatch:
    inputs:
      commit_message:
        description: "Commit message for the AUR repository"
        required: true
        type: string

jobs:
  publish-to-aur:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: main

      - name: Publish to AUR
        uses: KSXGitHub/github-actions-deploy-aur@v4.1.1
        with:
          pkgname: ankama-launcher
          pkgbuild: ./ankama-launcher/PKGBUILD
          assets: |
            ankama-launcher/ankama-launcher
            ankama-launcher/ankama-launcher.install
          updpkgsums: false
          test: true
          test_flags: --clean --cleanbuild --syncdeps --noconfirm
          post_process: git clean -fd
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: ${{ inputs.commit_message }}
          ssh_keyscan_types: rsa,ecdsa,ed25519
